<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PetraERP.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PetraERP.Shared.Properties.Settings.Petra5ConnectionString"
            connectionString="Data Source=ELMINA\SQLEXPRESS;Initial Catalog=Petra5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PetraERP.Shared.Properties.Settings.Petra_CRMConnectionString"
            connectionString="Data Source=ELMINA\SQLEXPRESS;Initial Catalog=Petra_CRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PetraERP.Shared.Properties.Settings.Petra_CRMConnectionString1"
            connectionString="Data Source=NICHOLASARKFEA4\SQLEXPRESS;Initial Catalog=Petra_CRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PetraERP.Shared.Properties.Settings>
            <setting name="database_erp" serializeAs="String">
                <value />
            </setting>
            <setting name="database_microgen" serializeAs="String">
                <value />
            </setting>
            <setting name="database_ptas" serializeAs="String">
                <value />
            </setting>
            <setting name="database_crm" serializeAs="String">
                <value />
            </setting>
            <setting name="database_tracker" serializeAs="String">
                <value />
            </setting>
        </PetraERP.Shared.Properties.Settings>
    </userSettings>
</configuration>